In [4]:
print("hello")

hello

In [5]:
import pandas as pd
df = pd.DataFrame ({'x': range(-10, 100)})
df['y'] = (3*df['x'] - 4) / 2
df

      x      y
0   -10  -17.0
1    -9  -15.5
2    -8  -14.0
3    -7  -12.5
4    -6  -11.0
..   ..    ...
105  95  140.5
106  96  142.0
107  97  143.5
108  98  145.0
109  99  146.5

[110 rows x 2 columns]